version: '3.8'

services:
  postgres:
    image: postgres:18-alpine
    container_name: quotes_db_container
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: quotes_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
